bootstrap4==0.1.0
boto3==1.10.14
botocore==1.13.14
dj-database-url==0.5.0
Django==2.1.13
django-heroku==0.3.1
docutils==0.15.2
get==2019.4.13
gunicorn==20.0.0
jmespath==0.9.4
post==2019.4.13
psycopg2==2.8.4
public==2019.4.13
python-dateutil==2.8.0
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
s3transfer==0.2.1
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.8
whitenoise==4.1.4
django-crispy-forms==1.8.0
django-storages==1.7.2
Pillow==6.2.1
Brotli==1.0.7

