{% extends "base.html" %}
{% block content %}
    <h1><center>About Page</center></h1>
    <center><p>
            This is a platform through which you can keep your talk on many social, national, regional and developmental issues. 
            This platform will help you to spread your message to intellectuals around the world. On this platform,
            you have to create a user id password after which you can share your talk with the whole world.
            Join now and enjoy reading and sharing your content with others
            </p></center>
    <center><p>
            This plate form gives you a good interface, you can use this platform anywhere you want to have your information 
            anytime and want to broadcast the news that is happening around you or by you.
            </p></center>

{% endblock content %}